 #main-container {
  height: 100vh;  /* Full viewport height */
  display: flex;
  flex-direction: column;


}

#content {
  flex: 1;  /* Makes content expand to fill available space */
  overflow: auto; /* Enables scrolling if content is too long */

}
